# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 321438457517002a0f3e6108276e2cad51317443f031c24b24edad92a2115aa1c9e57c310bdef67ad0a86e2272f16399adfcc38babc878d33f984b5d986096c9

test:
  secret_key_base: 7ca89089a3f80d4789759b9939f882cda7c4ff58bd8e53f755b02bc6b93c0f4647c49e7ee884702edf03b2a4a31ed549996f16b99e0289ca798688860db68c6c

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
