

<div id='first'>
  <br>
	<div id="shoppingcartbox">

		<%= render "shopping_cart" %>



    <div id="reciept-border">
      <%= render :partial => "bookings/receipt"%>

    </div>

    <div id="checkout">
      <%= link_to("Checkout", controller: "carts", action:"checkout", class:"chekout-button") %>
    </div>
	</div>
</div>

