<div id='contactcontainer'>
    <div id='clear'></div>
    <br><br>
    <div class='contacttitle'>
        Contact Us
    </div>
    <div class='contactunder'>Let us know what you think!</div>
    <br>
    <div id='contactform' onload="function() {$(contactform).animate({ "opacity": "1.0"}, 1000);}">
        <br>
        <form id='myContactForm' name='theContactForm' onsubmit="return false">
        <% if logged_in? %>
            <div class='contactname'>
                Hi <%= current_user.username %>!<br> Would you like us to reply to you via email?<br>
          </div>
            <div id='contactemailchoice'>
                <input type='radio' name="emailcheck" value="yes" onclick="yesemail()">Yes
                <input type='radio' name="emailcheck" value="no" onclick="noemail()">No
            </div><br>
            <div id='overemail'></div>
            <div id='contactemail' onkeydown="contacthandle2(event)"><hr>
                This is the email we have for you. <br>Specify another if you'd like!<br>
                <input type='text' id="emailbox" name="email" value="<%= current_user.email %>">
            </div>
            <div id='underemail'></div><br>
            <div id='contactcontent'>
                Type your thoughts below.
                <textarea id="contactbox" name='content' rows="4" cols="50"></textarea>
                <br><button onclick='checktext()'>Send Message</button>
            </div>
            <div id='undercontent'></div><br>
            <% else %>
            <div class='contactname'>
            <br><br>To prevent spambots from flooding our servers with messages, we have taken steps to hide our contact form unless you're a registered member of the website. <br><br>Thank you for your understanding!
            <br><br>Please <%= link_to "register", signup_path %> or <%= link_to "login", login_path %> to leave a message. :)
            </div>
            <% end %>
        </form>
    </div>
    <br><br><br>
    </div>

</div>
 