<div id='contactcontainer'>
    <div id='clear'></div>
    <br><br>
    <div class='contacttitle'>
        Contact Us
    </div>
    <div class='contactunder'>Let us know what you think!</div>
    <br>
    <div id='contactform' onload="function() {$(contactform).animate({ "opacity": "1.0"}, 1000);}">
        <br>
        <form id='myContactForm' name='theContactForm' onsubmit="return false">
        <% if logged_in? %>
            <div class='contactname'>
                Hi <%= current_user.username %>!<br> Would you like us to reply to you via email?<br>
          </div>
            <div id='contactemailchoice'>
                <input type='radio' name="emailcheck" value="yes" onclick="yesemail()">Yes
                <input type='radio' name="emailcheck" value="no" onclick="noemail()">No
            </div><br>
            <div id='overemail'></div>
            <div id='contactemail' onkeydown="contacthandle2(event)"><hr>
                This is the email we have for you. <br>Specify another if you'd like!<br>
                <input type='text' name="email" value="<%= current_user.email %>">
            </div>
            <div id='underemail'></div><br>
            <div id='contactcontent'>
                Type your thoughts below.
                <textarea name='content' rows="4" cols="50"></textarea>
                <br><button onclick='checktext()'>Send Message</button>
            </div>
            <div id='undercontent'></div><br>
            <% else %>
            <div class='contactname'>
            <br><br>To prevent spambots from flooding our servers with messages, we have taken steps to hide our contact form unless you're a registered member of the website. <br><br>Thank you for your understanding!
            <br><br>Please <%= link_to "register", signup_path %> or <%= link_to "login", login_path %> to leave a message. :)
            </div>
            <% end %>
        </form>
    </div>
    <br><br><br>
    </div>
    <div id='footer'>
        &copy; New horizons 2016
    </div>
        <div id='aboutdarken' onclick='hideabout()'>
        </div>
        <div id='about' onclick='hideabout()'>
<div class='aboutleftpic'><img src='/assets/flowerleft.jpg' width="160px"></div>
<div class='abouthead'>About Us</div>
<div class='aboutrightpic'><img src='/assets/flowerright.jpg' width="160px"></div>
<div class='abouttext'>
<br>
Welcome to New Horizons! Founded in 2016, we're a young company, dedicated to offering a place where adventurous souls can find just what they need for their trip away.
Whether you're scuba diving in the great barrier reef, making the climb at Croagh Patrick, or camping in Yosemite, we have just what you need at our store.<br><br>
If you're unsure what you want to do when away, check our local accommodaton and activity pages to get you started on your next big adventure. Some locations will require vaccinations before you travel. We'll set you on the right path.
We're keen to provide a friendly and professional service, and we hope you enjoy the time you spend at our site!
</div><br><br>
<center>
<img src='/assets/campsite.jpg' width='500px'>
                <br/>
            </div>
        </div>
 