.container-overlay{
  background-color:rgba(48, 172, 151, 0.9);
}

#greentext{
  color:rgba(247, 107, 106,1);
}

.container-overlay h2{
  font-size:110px;
  margin-left:80%;
}


.book-activity{
  margin-left:6px;
}



.book-activity.book-button{
  position:relative;
  margin-left: 80px !important;
  top:-35px;
}