// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.new_user
{
    margin-left:40px;
}
/*label
{
//    background-color:red;
    display:block;
    width:200px;
    float:left;
}*/