// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.new_user
{
    margin-left:40px;
}
/*label
<<<<<<< HEAD
=======
=======
label
>>>>>>> 20bdc6bb3093687e6fb98acb2687b44f217c1a17
>>>>>>> bd51dbe41a01f901b61df6df04c66347b9138e92
{
//    background-color:red;
    display:block;
    width:200px;
    float:left;
<<<<<<< HEAD
}*/
